.wrapper{
    margin: 0 auto;
}

.button{
    background-color: #4A9DFF !important;
    color: #FFFFFF !important;
    margin-top: 95px !important;
}

.buttonWrapper{
    display: flex;
    justify-content: space-around;
}

.disableCharts{
    visibility: hidden;
}

.enableCharts{
    visibility: visible;
    margin-top: 95px;
    display: flex;
    justify-content: space-around;
}