.list{
    width: 215px;
    height: 100%;
    min-height: 100vh;
    padding: 0px;
    list-style-type: none;
    padding-top: 1px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    box-shadow: 4px 0px 10px rgba(93, 109, 151, 0.1);
    margin: 0;
    background-color: #FFFFFF;

    color: #5D6D97;
}

.listItem{
    margin-top: 18px;
    margin-left: 53px;
}

.hr{
    margin-top: 18px;
    margin-bottom: 0px;
}